<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="navbar">
    <a href="/">Home Page</a>
    <a href="/create-patient">Create Patient</a>
    <% if (locals.user) { %>
      <a href="/accounts/logout">Logout</a>
      <%} else { %>
      <a href="/accounts/login">Log in</a>
    <% } %>
  </div>
  <div class="container">
    <h1 class="mt-4">Patient Details</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Creator Name</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Birthdate</th>
          <th>Zipcode</th>
          <th>State</th>
          <th>Phone Number</th>
          <th>Create Date</th>
          <th>Insurance Type</th>
          <th>Test Type</th>
          <th>Doctor Service</th>
          <th>Lab Name</th>
          <th>Sample Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% patients.forEach(function(patient) { %>
          <tr>
            <td><%= patient.CreatorName %></td>
            <td><%= patient.FirstName %></td>
            <td><%= patient.LastName %></td>
            <td><%= patient.Birthdate.toISOString().slice(0, 10) %></td>
            <td><%= patient.Zipcode %></td>
            <td><%= patient.State %></td>
            <td><%= patient.PhoneNumber %></td>
            <td><%= patient.CreateDate.toISOString().slice(0, 10) %></td>
            <td><%= patient.InsuranceType %></td>
            <td><%= patient.TestType %></td>
            <td><%= patient.DoctorService %></td>
            <td><%= patient.LabName %></td>
            <td>
              <!-- Adding conditional styling based on Sample Status -->
              <% if (patient.SampleStatus === 'reviewed') { %>
                <span style="color: green; font-size: 20px;">&#11044;</span>
              <% } else if (patient.SampleStatus === 'under review') { %>
                <span style="color: orange; font-size: 20px;">&#11044;</span>
              <% } else if (patient.SampleStatus === 'not reviewed') { %>
                <span style="color: red; font-size: 20px;">&#11044;</span>
              <% } %>
              <%= patient.SampleStatus %>
            </td>
            <td>
              <form id="deleteForm<%= patient._id %>" action="/delete-patient/<%= patient._id %>" method="POST" class="d-inline">
                <!-- Adding an "onclick" attribute to show a confirmation dialog -->
                <button type="button" class="btn btn-danger" onclick="confirmDeletion('<%= patient._id %>')">Delete</button>
              </form>
              <a href="/edit-patient/<%= patient._id %>" class="btn btn-primary">Edit</a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Adding a script for the confirmation dialog -->
  <script>
    function confirmDeletion(patientId) {
      // Display a confirmation dialog
      var isConfirmed = confirm('Are you sure you want to delete this patient?');

      // If the user confirms, submit the form for deletion
      if (isConfirmed) {
        document.getElementById('deleteForm' + patientId).submit();
      }
    }
  </script>
</body>
</html>
