<!-- index.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="navbar">
    <a href="/">Home Page</a>
    <a href="/create-patient">Create Patient</a>
    <a href="/login">Log Out</a>
  </div>
  <div class="container">
    <h1 class="mt-4">Patient Details</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Creator Name</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Birthdate</th>
          <th>Zipcode</th>
          <th>State</th>
          <th>Phone Number</th>
          <th>Create Date</th>
          <th>Insurance Type</th>
          <th>Test Type</th>
          <th>Doctor Service</th>
          <th>Lab Name</th>
          <th>Sample Status</th>
        </tr>
      </thead>
      <tbody>
        <% patients.forEach(function(patient) { %>
          <tr>
            <td><%= patient.CreatorName %></td>
            <td><%= patient.FirstName %></td>
            <td><%= patient.LastName %></td>
            <td><%= patient.Birthdate.toISOString().slice(0, 10) %></td>
            <td><%= patient.Zipcode %></td>
            <td><%= patient.State %></td>
            <td><%= patient.PhoneNumber %></td>
            <td><%= patient.CreateDate.toISOString().slice(0, 10) %></td>
            <td><%= patient.InsuranceType %></td>
            <td><%= patient.TestType %></td>
            <td><%= patient.DoctorService %></td>
            <td><%= patient.LabName %></td>
            <td><%= patient.SampleStatus %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>